settings.gradle
.idea
gradlew
gradlew.bat
gradle
build
HELP.md
.gradle/*
.gradle/9.5.1/executionHistory/executionHistory.bin
.gradle/9.5.1/executionHistory/executionHistory.lock
.gradle/9.5.1/fileHashes/fileHashes.bin
.gradle/9.5.1/fileHashes/fileHashes.lock
.gradle/9.5.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe